In [1]:
l = [1, 2, 'hello', 'world'] # 列表中同时含有int和string类型的元素
l

[1, 2, 'hello', 'world']

In [1]:
tup = ('jason', 22) # 元组中同时含有int和string类型的元素
tup

('jason', 22)

In [5]:
l = [1, 2, 3, 4]
l[3] = 40
l

tup = (1, 2, 3, 4)
tup[3] = 40

TypeError: 'tuple' object does not support item assignment

In [7]:
tup = (1, 2, 3, 4)
new_tup = tup + (5, ) # 创建新的元组 new_tup，并依次填充原元组的值
new_tup

l = [1, 2, 3, 4]
l.append(5) # 添加元素5到原列表的末尾
l

[1, 2, 3, 4, 5]

In [9]:
l = [1, 2, 3, 4]
l[-1]

tup = (1, 2, 3, 4)
tup[-1]

4

In [12]:
l = [1, 2, 3, 4]
l[1:3] # 返回列表中索引从1到2的子列表

tup = (1, 2, 3, 4)
tup[1:3]

(2, 3)

In [13]:
l = [[1,2,3], [4,5]]

tup = ((1,2,3), (4,5))

In [15]:
list((1,2,3))

tuple([1,2,3])

(1, 2, 3)

In [27]:
l = [3, 2, 3, 7, 8, 1]
l.count(3)
l.index(7)
l.reverse()
l
l.sort()
l

tup = (3, 2, 3, 7, 8, 1)
tup.count(3)
tup.index(7)
list(reversed(tup))
sorted(tup)

[1, 2, 3, 3, 7, 8]

In [31]:
import typing

def list_duplicate_of(seq: typing.Sequence, item: object):
    start_at = -1
    locs = []
    while True:
        try:
            loc = seq.index(item, start_at + 1)
        except ValueError:
            break
        else:
            locs.append(loc)
            start_at = loc
    return locs

source = 'ABABDBAAEDSBQEWBAFLSAFB'
print(list_duplicate_of(source, 'B'))

[1, 3, 5, 11, 15, 22]

In [39]:
for i, item in enumerate(['a','b','c']):
    print(i, item)

0 a
1 b
2 c

In [55]:
dictA = {}
dictA['A'] = 1
dictA

{'A': 1}

In [43]:
from collections import defaultdict

defaultdict(set)

defaultdict(set, {})

In [54]:
for i, item in enumerate(source):
    print(i, item)

0 A
1 B
2 A
3 B
4 D
5 B
6 A
7 A
8 E
9 D
10 S
11 B
12 Q
13 E
14 W
15 B
16 A
17 F
18 L
19 S
20 A
21 F
22 B

In [53]:
def list_duplicates(seq: typing.Sequence):
    tally = defaultdict(list)
    for i, item in enumerate(seq):
        tally[item].append(i)
    print(tally)
    return ((key, locs) for key, locs in tally.items() if len(locs) > 1)

type(list_duplicates(source))

for dup in list_duplicates(source):
    print(dup)

defaultdict(<class 'list'>, {'A': [0, 2, 6, 7, 16, 20], 'B': [1, 3, 5, 11, 15, 22], 'D': [4, 9], 'E': [8, 13], 'S': [10, 19], 'Q': [12], 'W': [14], 'F': [17, 21], 'L': [18]})
defaultdict(<class 'list'>, {'A': [0, 2, 6, 7, 16, 20], 'B': [1, 3, 5, 11, 15, 22], 'D': [4, 9], 'E': [8, 13], 'S': [10, 19], 'Q': [12], 'W': [14], 'F': [17, 21], 'L': [18]})
('A', [0, 2, 6, 7, 16, 20])
('B', [1, 3, 5, 11, 15, 22])
('D', [4, 9])
('E', [8, 13])
('S', [10, 19])
('F', [17, 21])

In [58]:
l = [1,2,3]
l.__sizeof__()

tup = (1,2,3)
tup.__sizeof__()

104

In [60]:
l = []
l.__sizeof__() # 空列表的存储空间为40字节
l.append(1)
l.__sizeof__() # 加入了元素1之后，列表为其分配了可以存储4个元素的空间 (72 - 40) / 8 = 4
l.append(2)
l.__sizeof__() # 由于之前分配了空间，所以加入元素2，列表空间不变
l.append(3)
l.__sizeof__() # 同上
l.append(4)
l.__sizeof__() # 同上
l.append(5)
l.__sizeof__() # 加入元素5之后，列表的空间不足，所以又额外分配了可以存储4个元素的空间

104

下面的例子，是计算初始化一个相同元素的列表和元组分别所需的时间。我们可以看到，元组的初始化速度，要比列表快 5 倍。

```bash
python3 -m timeit 'x=(1,2,3,4,5,6)'
20000000 loops, best of 5: 9.97 nsec per loop
python3 -m timeit 'x=[1,2,3,4,5,6]'
5000000 loops, best of 5: 50.1 nsec per loop
```

但如果是索引操作的话，两者的速度差别非常小，几乎可以忽略不计。

```bash
python3 -m timeit -s 'x=[1,2,3,4,5,6]' 'y=x[3]'
10000000 loops, best of 5: 22.2 nsec per loop
python3 -m timeit -s 'x=(1,2,3,4,5,6)' 'y=x[3]'
10000000 loops, best of 5: 21.9 nsec per loop
```